#!/bin/bash

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export PATH={{ ansible_env.HOME }}/Library/Python/{{ python_version_major_minor }}/bin:{{ lookup('env', 'HOMEBREW_PREFIX') | default('/opt/homebrew', true) }}/bin:$PATH

{{ ansible_env.HOME }}/.local/bin/gcalcli \
  --calendar {{ ansible_env.GCALCLI_CALENDAR_USER }} \
  --nocache \
  agenda  \
    --nostarted \
    --no-military \
      | sed -ne 2p \
      | tr -d '[[:cntrl:]]' \
      | sed 's/0m0m//g' \
      | tr -s '  '
